[submodule "dependencies/OpenRGBSamplePlugin"]
	path = dependencies/OpenRGBSamplePlugin
	url = https://gitlab.com/OpenRGBDevelopers/OpenRGBSamplePlugin.git
	branch = master
[submodule "dependencies/OpenRGB-Qt-Packages"]
	path = dependencies/OpenRGB-Qt-Packages
	url = https://gitlab.com/OpenRGBDevelopers/OpenRGB-Qt-Packages.git
	branch = master
