# Project
.trae/
.vs/
.vscode/
documentations/
release/
_intermediate_release
*.dll
*.exp
*.lib
*.pdb
*.ilk
test_moc.cpp
test_moc2.cpp
test_moc3.cpp
*.obj
*.res

# Sample Sample Plugin
*.pro.user*
*.o
ui_*
moc_*
qrc_*
Makefile
Makefile.*
OpenRGB-x86_64.AppImage
.qmake.stash
.vscode
debug/
_intermediate_debug
build
Ship
www/*
