# Project
.trae/
.vs/
.vscode/
documentations/
release/
_intermediate_release
*.dll
*.exp
*.lib
*.pdb
*.ilk

# Sample Sample Plugin
*.pro.user*
*.o
ui_*
moc_*
qrc_*
Makefile
OpenRGB-x86_64.AppImage
.qmake.stash
.vscode
debug/
_intermediate_debug
build
Ship
www/*
